<div class="title pull-right">
    <div class="container">
        <div class="row text-light ">
            <div class="col header">
                <h1 class="col-md-6">{{titleLab}}</h1>
                <a href="/movies" class="btn btn-light text-muted mt-4 headerButton">Check the movies</a>
            </div>
        </div>
    </div>
</div>
